<div class="custom-grid-container mt-3">
    <div class="custom-grid-row">
        <div class="custom-grid-col-12">
            <div class="custom-grid">
                {% if site.data.profile.education %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Education Background</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.education %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                    <div class="small d-flex">
                                        <div>{{ item.position }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.position_date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.scholarships %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Scholarships & Honors</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.scholarships %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.competition_awards %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Competition Awards</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.competition_awards %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.teaching_experience %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Teaching Experience</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.teaching_experience %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                    <ul class="small pl-3 mb-0" style="list-style-type: disc;">
                                        {% for position_item in item.positions %}
                                        <li>
                                            <div class="d-flex">
                                                <div>{{ position_item.position }}</div>
                                                <div class="ml-auto mt-auto no-break"><em>{{ position_item.date }}</em></div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.researching_experience %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Researching Experience</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.researching_experience %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                    <div class="small d-flex">
                                        <div>{{ item.position }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.working_experience %}
                <div class="card border-0 shadow-sm bg-white mb-3">
                    <div class="card-body p-4">
                        <h6>Working Experience</h6>
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.working_experience %}
                            <li class="media mb-1">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;"
                                    class="mr-1 mt-1">
                                <div class="media-body">
                                    <div>{{ item.name }}</div>
                                    <div class="small">{{ item.dept }} <em>{{ item.date }}</em></div>
                                    <div class="small d-flex">
                                        <div>{{ item.position }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
